.about-us {
  font-family: @open-sans-font;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  min-width: 320px;
}

.about-us__title {
  font-family: @open-sans-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  margin: 0 0 31px 0;
}

.about-us__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.about-us__list-item {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  color: @color-black;
  padding-top: 85px;
  background-position: 5% 30%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 125px;
}

.about-us__list-item--materials {
  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__list-item--price {
  background-image: url("../img/icon-feature-money.svg");
}

.about-us__list-item--likes {
  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__list-item--handmade {
  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__list-item--producers {
  background-image: url("../img/icon-feature-rocket.svg");
}

.about-us__list-item--gift {
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: @tablet-width) {
  .about-us__title {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 47px;
  }

  .about-us__list {
    columns: 2;
    column-gap: 100px;
  }

  .about-us__list-item {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 57px;
    width: 295px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    margin-bottom: 45px;
  }

  .about-us__title {
    padding-left: 0;
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 44px;
    margin-left: 160px;
  }

  .about-us__list {
    width: 715px;
    columns: 2;
    column-gap: 115px;
    margin-left: 160px;
  }

  .about-us__list-item {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 57px;
  }
}
