.about-us {
  font-family: @open-sans-font;
  position: relative;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 16px;
  background-size: 110%;
  padding-top: 76px;
}

.about-us__title {
  font-family: @open-sans-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  padding-left: 30px;
  margin: 0;
}

.about-us__list {
  padding: 0;
  list-style: none;
  margin: auto;
  width: 260px;
}


.about-us__list-item {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  color: @color-black;
  padding-top: 85px;
  background-position: 5% 30%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 125px;
  width: 260px;
}


.about-us__list-item--materials {
  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__list-item--price {
  background-image: url("../img/icon-feature-money.svg");
}

.about-us__list-item--likes {
  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__list-item--handmade {
  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__list-item--producers {
  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__list-item--gift {
  background-image: url("../img/icon-feature-gift.svg");
}
