.contacts {
  font-family: @open-sans-font;
  margin: 31px 0 39px;
}

.contacts__title {
  font-family: @open-sans-font;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-black;
  margin-bottom: 28px;
  padding: 0;
  margin-left: -2px;
}

.contacts__details {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 24px;
  color: @color-grey;
  font-style: normal;
}

.contacts__details-block {
  display: flex;
  margin-bottom: 36px;
}

.contacts__details-mail-plate {
  margin-left: -6px;
}

.contacts__details-mail,
.contacts__details-address {
  margin: 0 17px 0 0;
  width: 65px;
}

.contacts__details-address-plate {
  margin: 0;
  line-height: 30px;
  margin-top: -2px;
  letter-spacing: -0.1px;
}

.contacts__details-mail-plate a {
  text-decoration: none;
  color: @color-black;
  border-bottom: solid 1px @color-turquoise;
  cursor: pointer;
  padding-bottom: 4px;
  letter-spacing: -0.1px;

  &:hover {
    color: @color-socials;
  }

  &:focus {
    color: @color-socials;
    opacity: 0.3;
  }
}

.contacts__iframe-map {
  width: 100%;
  min-height: 454px;
  min-width: 320px;
  position: relative;
  border: none;
}

.contacts__map {
  position: relative;
  display: block;
  top: 0;
  width: 100%;

  &::before {
    content: url("../img/icon-map-pin.svg");
    position: absolute;
    top: 32%;
    left: 43%;
  }
}

.contacts__map-img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.contacts__btn {
  margin: 36px auto 0 auto;
  position: relative;
  font-size: 17px;
  letter-spacing: 0.9px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin: 24px 0 55px;
    position: relative;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      width: 47px;
      height: 81px;
      top: -2%;
      right: 7%;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    margin: 46px 0 33px -3px;
    letter-spacing: -0.3px;
  }

  .contacts__details {
    font-size: 17px;
    line-height: 25px;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  .contacts__details-block {
    width: 332px;
  }

  .contacts__details-mail {
    margin: 0 18px 0 1px;
  }

  .contacts__details-address {
    margin: 0 13px 0 1px;
  }

  .contacts__details-mail-plate {
    margin-right: 5px;
  }

  .contacts__details-address-plate {
    margin-right: 0;
    line-height: 30px;
  }

  .contacts__iframe-map {
    width: 100%;
    min-height: 457px;
    position: relative;
    border: none;
    margin-bottom: 53px;
  }

  .contacts__btn {
    width: 230px;
    margin-top: 0;
    letter-spacing: -0.6px;
    font-size: 18px;

    &:hover {
      width: 230px;
    }

    &:focus {
      width: 230px;
    }
  }

  .contacts__map {
    position: relative;
    display: block;
    margin-bottom: 55px;

    &::before {
      content: url("../img/icon-map-pin.svg");
      position: absolute;
      top: 30%;
      left: 47%;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-image: url("../img/icon-flag.svg");
    background-position: 6% 11%;
    background-repeat: no-repeat;
    width: 1050px;
    margin: 79px auto 101px auto;
    position: relative;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 0 50px;
    width: 1050px;
    margin: auto;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    margin-left: 120px;
    margin-bottom: 33px;
    letter-spacing: -0.5px;
  }

  .contacts__details {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 84px;
    margin-left: 123px;
  }

  .contacts__details-block {
    width: 350px;
    margin-bottom: 30px;
  }

  .contacts__details-mail {
    margin: 0 30px 0 1px;
    width: 60px;
  }

  .contacts__details-address {
    margin: 0 20px 0 1px;
  }

  .contacts__details-block dd {
    margin-right: 50px;
    width: 248px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0;
    text-transform: uppercase;
    margin-left: 175px;
    margin-top: -34px;

    &:hover {
      width: 230px;
    }

    &:focus {
      width: 230px;
    }
  }

  .contacts__iframe-map {
    width: 100%;
    height: 457px;
    width: 525px;
    position: absolute;
    border: none;
    margin-bottom: 0;
    margin-top: 27px;
    right: 0;
    top: -50px;
    padding: 0;
  }
}
