.contacts {
  font-family: @open-sans-font;
  margin: 44px 0 39px;
  position: relative;
}

.contacts__title {
  font-family: @open-sans-font;
  font-size: 18px;
  line-height: 1.67;
  font-weight: bold;
  color: @color-black;
  margin-bottom: 0;
  padding: 0;
}

.contacts__details {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 1.6;
  color: @color-grey;
  font-style: normal;
}

.contacts__details-block {
  display: flex;
}

.contacts__details-block dd {
  margin: 0;
}

.contacts__details-mail,
.contacts__details-address {
  margin: 0 26px 0 0;
}

.contacts__details-mail-plate,
.contacts__details-address-plate {
  margin: 0;
}

.contacts__details-mail-plate {
  text-decoration: none;
  color: @color-black;
  border-bottom: solid 1px @color-turquoise;
  cursor: pointer;

  &:hover {
    color: @color-socials;
  }

  &:focus {
    color: @color-socials;
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  display: block;

  &::before {
    content: url("../img/icon-map-pin.svg");
    position: absolute;
    top: 30%;
    left: 43%;
  }
}

.contacts__map-img {
  width: 100%;
}

.contacts__btn {
  margin: 39px auto 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin: 65px 0 39px;
    background-image: url("../../img/icon-flag.svg");
    background-position: 95% 0%;
    background-repeat: no-repeat;
  }

  .contacts__wrapper {
    padding: 0;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 1.16;
    padding: 0;
    margin-bottom: 65px;
  }

  .contacts__details {
    font-size: 17px;
    line-height: 1.76;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 51px;
  }

  .contacts__details-block {
    width: 48%;
  }

  .contacts__details-mail-plate {
    margin-right: 55px;
  }

  .contacts__details-address-plate {
    margin-right: 0;
  }

  .contacts__btn {
    width: 230px;
    margin-top: 0;

    &:hover {
      width: 230px;
    }

    &:focus {
      width: 230px;
    }
  }

  .contacts__map {
    position: relative;
    display: block;
    margin-bottom: 55px;

    &::before {
      content: url("../img/icon-map-pin.svg");
      position: absolute;
      top: 30%;
      left: 43%;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin: 65px 0 105px;
    background-image: url("../../img/icon-flag.svg");
    background-position: 10% 15%;
    background-repeat: no-repeat;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 0 50px;
    width: 1050px;
    margin: auto;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 1.41;
    padding: 0;
    margin-left: 160px;
  }

  .contacts__details {
    font-size: 17px;
    line-height: 1.76;
    width: 300px;
    display: block;
    margin-bottom: 84px;
    margin-left: 160px;
  }

  .contacts__details-block {
    width: 350px;
  }

  .contacts__details-block dd {
    margin-right: 55px;
    width: 219px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0;
    text-transform: uppercase;
    margin-left: 400px;

    &:hover {
      width: 230px;
    }

    &:focus {
      width: 230px;
    }
  }

  .contacts__map {
    position: absolute;
    display: block;
    right: 50px;
    top: 30px;
    padding: 0;

    &::before {
      content: url("../img/icon-map-pin.svg");
      position: absolute;
      top: 30%;
      left: 43%;
    }
  }
}
