
.fieldset {
  padding: 0;
  border: 0 none;
  margin: 0 auto;
  position: relative;
}

.fieldset__legend {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-turquoise;
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    border: 1px solid #63d1bb;
    width: 198px;
    left: 60px;
    top: 12px;
  }
}

.fieldset__legend--color {
  margin-bottom: 0;
}

.fieldset__legend--tel {
  margin-bottom: 0;
}

.fieldset__legend--email {
  position: relative;
  margin-bottom: 0;
}

.fieldset__legend--email::after {
  content: "";
  position: absolute;
  border: 1px solid #63d1bb;
  width: 178px;
  left: 80px;
  top: 12px;
}

.fieldset__legend-type-box {
  border: none;
  padding: 0;
}

.fieldset__legend-color-box {
  border: none;
  padding: 0;
}

.fieldset__legend-info-box {
  border: none;
  padding: 0;
  margin: 0 0 7px 0;
}

.fieldset__legend--shorter-line::after {
  content: "";
  position: absolute;
  border: 1px solid #63d1bb;
  width: 179px;
  left: 80px;
  top: 12px;
}

.fieldset__legend--type {
  margin-bottom: 23px;
}

.fieldset__label {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @color-black;
  display: block;
}

.fieldset__label--radio {
  cursor: pointer;
  position: relative;
  padding-left: 62px;
  height: 37px;
}

.fieldset__label--checkbox {
  cursor: pointer;
  position: relative;
  padding-left: 62px;
  box-sizing: border-box;
}

.fieldset__radio-input,
.fieldset__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fieldset__label--radio::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  border: @color-grey solid 2px;
  background-color: @color-white;
  border-radius: 50%;
  left: 0;
  bottom: 2px;
}

.fieldset__label--radio:hover::before {
  border: #62d1ba solid 2px;
}

.fieldset__label--radio:active::before {
  border: @color-grey solid 2px;
  opacity: 0.3;
}

.fieldset__radio-input:checked + .fieldset__label--radio::before {
  border: @color-grey solid 2px;
  opacity: 0.3;
}

.fieldset__radio-input:checked + .fieldset__label--radio::after {
  content: "";
  position: absolute;
  bottom: 29px;
  left: 9px;
  top: 6px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #63d1bb;
}

.fieldset__label--checkbox:first-of-type {
  margin-top: 32px;
}

.fieldset__label--checkbox::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  border: @color-grey solid 2px;
  background-color: @color-white;
  left: -1px;
  bottom: -9px;
}

.fieldset__label--checkbox:hover::before {
  border: #62d1ba solid 2px;
}

.fieldset__label--checkbox:active::before {
  border: @color-grey solid 2px;
  opacity: 0.3;
}

.fieldset__checkbox-input:checked + .fieldset__label--checkbox::before {
  border: @color-grey solid 2px;
  opacity: 0.3;
}

.fieldset__checkbox-input:checked + .fieldset__label--checkbox::after {
  content: url("../img/icon-tick.svg");
  position: absolute;
  left: 3px;
  bottom: 7px;
  width: 22px;
  height: 16px;
}

.fieldset__tel-input,
.fieldset__email-input,
.fieldset__text-input {
  box-sizing: border-box;
  width: 260px;
  border: none;
  border-bottom: 3px solid @color-black;
  line-height: 51px;
  margin-bottom: 19px;
  outline: none;
  height: 55px;
  position: relative;

  &:hover {
    border-bottom: 3px solid #62d1ba;
  }

  &:focus {
    border-bottom: 3px solid #62d1ba;
  }
}

.fieldset__legend--no-bottom-margin {
  margin-bottom: 0;
}

.fieldset__email-input,
.fieldset__tel-input {
  background-color: transparent;
}

.fieldset__tel-input {
  margin-bottom: 29px;
  letter-spacing: 0.9px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 97% 60%;

  &:hover {
    background-image: url("../img/icon-phone-focus.svg");
  }

  &:focus {
    background-image: url("../img/icon-phone-focus.svg");
  }
}

.fieldset__email-input {
  margin-bottom: 27px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 98% 65%;

  &:hover {
    background-image: url("../img/icon-mail-focus.svg");
  }

  &:focus {
    background-image: url("../img/icon-mail-focus.svg");
  }
}

.fieldset__textarea {
  width: 260px;
  resize: none;
  box-sizing: border-box;
  padding: 10px 16px 0;
  height: 140px;
  outline: none;
  outline-offset: -2px;
  line-height: 19px;

  &:hover {
    outline: 2px solid #62d1ba;
  }

  &:focus {
    outline: 2px solid #62d1ba;
  }
}

@media (min-width: @tablet-width) {
  .fieldset {
    width: 710px;
    margin-bottom: 50px;
  }

  .fieldset__legend {
    line-height: 16px;
    display: inline-block;
    margin-right: 104px;
    padding-top: 0;
    min-width: 60px;
  }

  .fieldset__legend::after {
    display: none;
  }

  .fieldset__legend-type-box {
    display: inline-block;
    width: 370px;
    vertical-align: top;
    padding-top: 25px;
    margin: 0;
  }

  .fieldset__legend--type {
    margin-top: 24px;
    margin-right: 120px;
  }

  .fieldset__label--radio::before {
    width: 48px;
    height: 48px;
    left: -17px;
    top: -10px;
  }

  .fieldset__legend-color-box {
    width: 500px;
    min-height: 260px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    text-align: left;
    margin: 0;
  }

  .fieldset__legend--color {
    margin-top: 22px;
    margin-right: 122px;
  }

  .fieldset__label {
    font-size: 19px;
    line-height: 18px;
  }

  .fieldset__label--checkbox:nth-of-type(odd) {
    margin-right: 58px;
  }

  .fieldset__label--checkbox::before {
    width: 50px;
    height: 49px;
    left: -19px;
    bottom: -19px;
  }

  .fieldset__label--checkbox:first-of-type {
    margin-top: 21px;
  }

  .fieldset__radio-input:checked + .fieldset__label--radio::after {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -1px;
    top: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #63d1bb;
  }

  .fieldset__checkbox-input:checked + .fieldset__label--checkbox::after {
    left: -7px;
    bottom: 5px;
  }

  .fieldset-contacts-info-block {
    margin-top: 28px;
  }

  .fieldset__legend-info-box {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    text-align: left;
    margin: 0;
    width: 505px;
    margin-top: -1px;
  }

  .fieldset__legend--name-info {
    margin-top: 16px;
  }

  .fieldset__label--full-name,
  .fieldset__label--tel,
  .fieldset__label--email {
    display: inline-block;
    width: 505px;
  }

  .fieldset__text-input {
    margin-left: 21px;
    width: 374px;
    margin-bottom: 22px;
    padding-left: 15px;
  }

  .fieldset__text-input--name {
    width: 425px;
  }

  .fieldset__tel-input {
    width: 490px;
    margin-bottom: 0;
    padding-left: 15px;
    letter-spacing: 0.1px;
    position: relative;
  }

  .fieldset__email-input {
    width: 490px;
    padding-left: 15px;
    letter-spacing: 0.1px;
  }

  .fieldset-info__contacts {
    margin-top: 24px;
    margin-bottom: 0;
    height: 51px;
  }

  .fieldset__label--textarea {
    width: 480px;
    display: inline-block;
    vertical-align: top;
  }

  .fieldset__textarea {
    width: 495px;
    margin-top: -15px;
    padding: 9px 13px 0;
  }
}

@media (min-width: @desktop-width) {
  .fieldset {
    width: 950px;
    margin-bottom: 48px;
  }

  .fieldset__legend {
    margin: 27px 66px 0 12px;
  }

  .fieldset__legend-type-box {
    padding-top: 29px;
  }

  .fieldset__legend-info-box {
    width: 700px;
  }

  .fieldset__label--checkbox:nth-of-type(odd) {
    margin-right: 0;
  }

  .fieldset__legend--color {
    margin-top: 17px;
  }

  .fieldset__legend--name-info {
    margin-top: 19px;
    margin-right: 51px;
  }

  .fieldset__legend-color-box {
    width: 800px;
    margin-top: -5px;
    min-height: 160px;
  }

  .fieldset__label--full-name,
  .fieldset__label--tel,
  .fieldset__label--email {
    width: 800px;
  }

  .fieldset--less-margin {
    margin-top: 23px;
  }

  .fieldset-info__contacts {
    margin-bottom: 0;
    margin-top: 20px;
    height: 63px;
  }

  .fieldset__legend--tel {
    margin: 26px 50px 0 12px;
  }

  .fieldset__legend--email {
    margin: 2px 50px 0 12px;
  }

  .fieldset__legend--text {
    margin: 3px 50px 0 11px;
  }

  .fieldset__text-input {
    width: 570px;
  }

  .fieldset__text-input--name {
    width: 620px;
  }

  .fieldset__tel-input,
  .fieldset__email-input {
    width: 700px;
    background-position: 99% 48%;
  }

  .fieldset__textarea {
    width: 698px;
    height: 140px;
    padding: 14px 15px 0;
  }
}
