.form-order {
  font-family: @open-sans-font;
}

.form-order__preform-text {
  font-family: @open-sans-font;
  font-size: 13px;
  line-height: 1.85;
  color: @color-grey;
  padding: 29px 48px 30px 31px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form-order__preform-text {
    font-size: 17px;
    line-height: 1.76;

  }
}

.form-order__item-type label {
  margin-bottom: 30px;
  padding-right: 43px;
}

.form-order__item-color label {
  margin-top: 44px;
}

@media (min-width: @tablet-width) {
  .form-order__item-color label {
    margin-bottom: 44px;
    margin-top: 0;
    flex-basis: 200px;
  }
}

.form-order__item-color .fieldset__legend:first-child {
  margin-bottom: 0;
}

.form-order__item-type {

}

@media (min-width: @tablet-width) {
  .form-order__item-type {
  }
}

.form-order__item-color {

}

@media (min-width: @tablet-width) {
  .form-order__item-color {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
  }
}

.form-order__item-color label:last-child {
  margin-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .form-order__item-color label:last-child {
  }
}

.form-order__item-info {

}

@media (min-width: @tablet-width) {
  .form-order__item-info {
  }
}

.form-order__submit-btn {
  margin-bottom: 55px;
}

.form-order__elemts-notabene {
  font-family: @open-sans-font;
  font-size: 14px;
  line-height: 1.14;
  color: @color-grey;
  margin: 18px 0 31px 0;
}
