.index-catalog-nav {
  min-width: 320px;
  margin: auto;
}

.index-catalog-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: @open-sans-font;
  position: relative;
}

.index-catalog-nav__list-item a {
  font-family: @open-sans-font;
  font-size: 19px;
  line-height: 1.26;
  font-weight: bold;
  color: @color-white;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  position: relative;
  min-height: 103px;
  padding: 30px 20px 20px 30px;
}

.index-catalog-nav__list-item--interior a {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.index-catalog-nav__list-item--interior a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #59d5bc;
  background-image: url("../img/icon-interior.svg");
  opacity: 0.8;
}

.index-catalog-nav__list-item--interior a:focus {
  color: rgba(255, 255, 255, 0.7);
  background-color: #59d5bc;
  background-image: url("../img/icon-interior.svg");
  opacity: 0.8;
}

.index-catalog-nav__list-item--toys a {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.index-catalog-nav__list-item--toys a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #46c1ae;
  background-image: url("../img/icon-toy.svg");
  opacity: 0.8;
}

.index-catalog-nav__list-item--toys a:focus {
  color: rgba(255, 255, 255, 0.7);
  background-color: #46c1ae;
  background-image: url("../img/icon-toy.svg");
  opacity: 0.8;
}

@media (min-width: @tablet-width) {
  .index-catalog-nav__list {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    flex-wrap: wrap;

    &::after {
      content: url("../../img/bg-zigzag-fill.svg");
      position: absolute;
      bottom: -20px;
      transform: scale(85%);
    }
  }

  .index-catalog-nav__list-item a {
    font-size: 20px;
    line-height: 1.5;
    padding: 35px 20px 20px 36px;
    min-height: 119px;
    box-sizing: border-box;
    min-width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .index-catalog-nav__list {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    flex-wrap: wrap;

    &::after {
      content: url("../../img/bg-zigzag-fill.svg");
      position: absolute;
      bottom: -20px;
    }
  }

  .index-catalog-nav__list-item a {
    font-size: 20px;
    line-height: 1.5;
    padding: 35px 20px 20px 36px;
    min-height: 119px;
    box-sizing: border-box;
    min-width: 524px;
  }
}
