.page-header {
  box-sizing: border-box;
  position: relative;
  font-family: @open-sans-font;
  background-color: @color-white;
  min-width: 320px;
  max-width: 770px;
  min-height: 79px;
  margin: 0 auto 22px auto;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
