.page-nav {
  position: relative;
  width: 320px;
  min-height: 79px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-nav {
    margin: auto;
    width: 670px;
    padding: 0 50px;
    display: flex;
  }
}

.page-nav__logo {
  display: block;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__logo {
  display: block;
  text-align: justify;
  margin: 20px 230px 20px 0;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}
}

.page-nav__logo-img {
  margin-top: 22px;
}

@media (min-width: @tablet-width) {
  .page-nav__logo-img {
    margin-top: 0;
  }
}

.page-nav__hamburger {
  position: absolute;
  top: 25px;
  right: 31px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 28px;
  background-color: @color-white;
  cursor: pointer;
  border: none;
}

@media (min-width: @tablet-width) {
  .page-nav__hamburger {
    display: none;
  }
}

.page-nav--closed .page-nav__hamburger::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: @color-black;
  box-shadow: 0 8px 0 0 @color-black, 0 16px 0 0 @color-black;
}

.page-nav--closed .page-nav__hamburger:active::before {
  background-color: lighten(@color-black, 30%);
  box-shadow: 0 8px 0 0 lighten(@color-black, 30%), 0 16px 0 0 lighten(@color-black, 30%);
}

.page-nav--opened .page-nav__hamburger {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 8px;
    width: 20px;
    height: 2px;
    background-color: @color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: lighten(@color-black, 30%);
  }
}

.page-nav__list {
  padding: 0;
  list-style: none;
  font-family: @open-sans-font;
  margin: 22px 0 0;
}

@media (min-width: @tablet-width) {
  .page-nav__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__list-item:first-child {
    order: 3;
    position: absolute;
    left: 27%;
    top: 100%;
    z-index: 1;
    font-size: 15px;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__list-item:first-child a {
    background: transparent;
    border: none;
    padding: 25px 20px 10px 20px;
    min-width: 120px;
    font-size: 15px;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__list-item:nth-child(2) {
    order: 4;
    position: absolute;
    z-index: 1;
    left: 4%;
    top: 100%;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__list-item:nth-child(2) a {
    background: transparent;
    border: none;
    padding: 25px 20px 10px 20px;
    min-width: 120px;
    font-size: 15px;
  }
}

.page-nav__list-item {
  position: relative;
}

.page-nav__list-item a {
  font-family: @open-sans-font;
  font-size: 17px;
  font-weight: bold;
  color: @color-black;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  min-width: 320px;
  min-height: 79px;
  background-color: @color-white;
  border-top: solid 1px #ececec;
  padding: 32px 20px 10px 76px;
}

@media (min-width: @tablet-width) {
  .page-nav__list-item a {
  }
}

.page-nav__list-item a:hover {
  color: lighten(@color-black, 30%);
}

.page-nav__list-item a:hover path {
  fill: @color-turquoise;
}

.page-nav__list-item a:focus {
  color: lighten(@color-black, 60%);
}

.page-nav__list-item a:focus path {
  fill: lighten(#63d1bb, 15%);
}

@media (min-width: @tablet-width) {
  .page-nav__list-item-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.page-nav__list-item svg {
  position: absolute;
  top: 32px;
  left: 26px;
}

.page-nav__list-item svg path {
  fill: lighten(@color-black, 80%);
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--search {
    order: 0;
  }
}

.page-nav__list-item--search a {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: calc(20% - 20px);
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--search a {
    min-width: 82px;
    min-height: 88px;
    background-color: @color-white;
    border-right: solid 1px #ececec;
    border-left: solid 1px #ececec;
    padding: 0;
    background-position: 50% 50%;
  }
}

.page-nav__list-item--search a:hover {
  background-image: url("../img/icon-search-hover.svg");
}

.page-nav__list-item--search a:focus {
  background-image: url("../img/icon-search-hover.svg");
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--cart {
    order: 1;
    width: 200px;
  }
}

.page-nav__list-item--cart a {
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: calc(20% - 20px);
}

.page-nav__list-item--cart a:hover {
  background-image: url("../img/icon-cart-hover.svg");
}

.page-nav__list-item--cart a:focus {
  background-image: url("../img/icon-cart-hover.svg");
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--cart a {
    min-width: 316px;
    min-height: 88px;
    background-color: @color-white;
    padding: 32px 0 10px 83px;
    background-position: 15% 50%;
    border: none;
  }
}

.page-nav__list-item--mobile-hide {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--mobile-hide {
    position: absolute;
    left: 60%;
    top: 100%;
    display: block;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .page-nav__list-item--mobile-hide a{
    background: transparent;
    border: none;
    padding: 25px 20px 10px 20px;
    min-width: 120px;
    font-size: 15px;
    font-weight: normal;
    font-size: 15px;
    min-height: 79px;
  }
}
