.page-nav {
  position: relative;
  width: 320px;
  min-height: 79px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-nav__logo {
  display: block;
  text-align: center;
  padding: 22px 22px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-nav__hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: block;
  width: 45px;
  height: 45px;
  background-color: @color-white;
  cursor: pointer;
  border: none;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.page-nav--closed .page-nav__hamburger::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 9px;
  width: 20px;
  height: 2px;
  background-color: @color-black;
  box-shadow: 0 6px 0 0 @color-black, 0 12px 0 0 @color-black;
}

.page-nav--closed .page-nav__hamburger:active::before {
  background-color: lighten(@color-black, 30%);
  box-shadow: 0 6px 0 0 lighten(@color-black, 30%), 0 12px 0 0 lighten(@color-black, 30%);
}

.page-nav--opened .page-nav__hamburger {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 5px;
    width: 30px;
    height: 2px;
    background-color: @color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: lighten(@color-black, 30%);
  }
}

.page-nav--nomagic .page-nav__hamburger {
  display: none;
}

.page-nav__list {
  padding: 0;
  list-style: none;
  font-family: @open-sans-font;
  margin: 0;
}

.page-nav__list-item {
  position: relative;
}

.page-nav__list-item-link {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-black;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 320px;
  min-height: 79px;
  background: transparent;
  border-top: solid 1px #ececec;
  padding: 22px 20px 10px 76px;
}

.page-nav__list-item-link:hover {
  opacity: 0.6;
}

.page-nav__list-item-link:hover .page-nav__list-item-svg {
  fill: @color-turquoise;
  opacity: 1;
}

.page-nav__list-item-link:focus {
  opacity: 0.3;
}

.page-nav__list-item-link:focus .page-nav__list-item-svg {
  fill: #63d1bb;
}

.page-nav__list-item svg {
  position: absolute;
  top: 29px;
  left: 31px;
  opacity: 0.2;
}

.page-nav__list-item--tablet {
  display: none;
}

@media (max-width: @pre-tablet-width) {
  .page-nav--closed .page-nav__list {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-nav {
    width: 768px;
    min-height: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
  }

  .page-nav__logo {
    order: 0;
    padding: 0;
    height: 50px;
    margin: 21px 0 19px 0;
    text-align: left;
    width: 100%;
  }

  .page-nav__hamburger {
    display: none;
  }

  .page-nav__main-nav-box {
    width: 47%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .page-nav__list-item-link {
    border: none;
    font-size: 15px;
    line-height: 24px;
  }

  .page-nav__list-item-link--cart {
    width: 265px;
    min-height: 88px;
    padding: 24px 0 25px 80px;
    border: none;
    background-position: 13% 50%;
    font-size: 17px;
    line-height: 37px;
    text-align: right;
  }

  .page-nav__list-item-link--search {
    width: 82px;
    min-height: 88px;
    background-position: 52% 52%;
    padding: 15px;
  }

  .page-nav__search-button-text {
    display: none;
  }

  .page-nav__list-item--cart {
    border-left: 2px solid #f9f9f9;
    min-height: 88px;
    box-sizing: border-box;
  }

  .page-nav__list-item svg {
    top: 35px;
    left: 34px;
  }

  .page-nav__list-item--tablet {
    display: block;
    z-index: 1;
    flex-grow: 1;
    text-align: right;
  }

  .page-nav__list-item--tablet p {
    border: none;
    font-size: 15px;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-nav {
    width: 1150px;
  }

  .page-nav__logo {
    order: 1;
    margin: 9px 1px 20px auto;
    width: auto;
  }

  .page-nav__list-item-link--cart {
    letter-spacing: 0.2px;
  }

  .page-nav__list-item-link {
    font-size: 17px;
    line-height: 37px;
  }

  .page-nav__list-item svg {
    top: 36px;
    left: 31px;
  }
}
