.popular-goods {
  min-width: 320px;
  margin: 27px auto 20px;
}

@media (min-width: @tablet-width) {
  .popular-goods {
    min-width: 768px;
    margin: 44px auto 13px;
  }
}


@media (min-width: @desktop-width) {
  .popular-goods {
    min-width: 1150px;
    min-height: 678px;
    margin: 63px auto 24px;
  }
}
