.popular-goods {
  min-width: 320px;
  margin: 35px auto 20px;
}

@media (min-width: @tablet-width) {
  .popular-goods {
    min-width: 770px;
    margin: 43px auto 53px;
  }
}


@media (min-width: @desktop-width) {
  .popular-goods {
    min-width: 1150px;
    margin: 63px auto 53px;
  }
}
