
.product-card {
  position: relative;
  width: 260px;
  margin: auto;
}

.product-card__title {
  font-family: @opensans;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  margin: 0;
}

.product-card__subdivision {
  font-family: @opensans;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  color: @color-turquoise;
  margin: 8px 0 0 0;
}

.product-card__info {
  font-family: @opensans;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: @color-grey;
}

.product-card__table {
  font-family: @opensans;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: @color-grey;
  width: 260px;
  border-collapse: collapse;
}


.product-card__table td {
  border-bottom: 1px solid @color-grey;
  padding-bottom: 5px;
}

.btn {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: @color-black;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  width: 260px;
  min-height: 52px;
  border: solid 2px @color-grey;
  font-family: @opensans;
  text-transform: uppercase;
}

.btn:hover {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: @color-black;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  width: 260px;
  min-height: 52px;
  border: solid 2px @color-grey;
  font-family: @opensans;
  color: @color-white;
  background-color: @color-grey;
}

.btn:focus {
  width: 260px;
  min-height: 52px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: @color-black;
  background-color: @color-grey;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  border: solid 2px @color-grey;
  font-family: @opensans;
  color: lighten(@color-grey; 30%);
}

.product-card__btn {
  margin-top: 28px;
}

.product-card__price {
  font-family: @opensans;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-grey;
  text-align: center;
  display: block;
  margin-top: 29px;
}

.product-card__img {
  margin-top: 28px;
}
