
.product-card {
  position: relative;
  width: 260px;
  margin: auto;
}

.product-card__title {
  font-family: @open-sans-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  margin: 0;
}

.product-card__subdivision {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  color: @color-turquoise;
  margin: 8px 0 0 0;
}

.product-card__info {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: @color-grey;
}

.product-card__table {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: @color-grey;
  width: 260px;
  border-collapse: collapse;
}


.product-card__table-data {
  border-bottom: 1px solid @color-grey;
  padding-bottom: 5px;
}

.product-card__btn {
  margin-top: 28px;
}

.product-card__price {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-grey;
  text-align: center;
  display: block;
  margin-top: 29px;
}

.product-card__img {
  margin-top: 28px;
}
