.reviews {
  font-family: @open-sans-font;
  position: relative;
  margin: 61px 0 30px;
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: center left;
  }
}

.reviews__title {
  font-family: @open-sans-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
}

@media (min-width: @tablet-width) {
  .reviews__title {
    padding-left: 0;
    font-size: 43px;
    line-height: 1.16;
    order: 1;
    margin-top: 88px;
  }
}

.reviews__sliding {
  padding: 0;
  list-style: none;
  margin: auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .reviews__sliding {
    width: 642px;
    order: 3;
    margin: 0;
  }
}

.reviews__sliding-field {
  padding: 0;
  list-style: none;
}

.reviews__sliding-field-text {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 1.6;
  color: @color-grey;
}

@media (min-width: @tablet-width) {
  .reviews__sliding-field-text {
    font-size: 17px;
    line-height: 1.76;
    width: 670px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__sliding-field-review {
    margin-bottom: 58px;
  }
}

.reviews__sliding-field-author {
  font-style: normal;
  margin-bottom: 36px;
}

.reviews__sliding-field-name {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-black;
  display: block;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .reviews__sliding-field-name {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 5px;
  }
}

.reviews__sliding-field-nickname {
  font-size: 17px;
  line-height: 1.76;
  display: block;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .reviews__sliding-field-nickname {
    font-size: 17px;
    line-height: 1.76;
    margin-top: 5px;
  }
}

.reviews__switch-arrows {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto 38px auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .reviews__switch-arrows {
    order: 3;
    margin: -90px 0 38px auto;
  }
}

.reviews__switch-arrows button {
  background-color: @color-white;
  border: 1px solid #ececec;
  width: 130px;
  height: 52px;
}

@media (min-width: @tablet-width) {
  .reviews__switch-arrows button {
    border: none;
  }
}

.reviews__switch-arrows button:hover {
  opacity: 0.6;
}

.reviews__switch-arrows button:focus {
  opacity: 0.3;
}

.reviews__btn {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .reviews__btn {
    order: 2;
    width: 175px;
    min-height: 52px;
    margin-right: 0;
    margin-top: 86px;

    &:hover {
      width: 175px;
      min-height: 52px;
    }

    &:focus {
      width: 175px;
      min-height: 52px;
    }
  }
}


@media (min-width: @tablet-width) {
.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
}
}
