.reviews {
  font-family: @open-sans-font;
  position: relative;
  margin: 0 0 40px;
}

.reviews__title {
  font-family: @open-sans-font;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @color-black;
  margin-bottom: 25px;
  margin-left: -2px;
}

.reviews__sliding {
  padding: 0;
  list-style: none;
}

.reviews__sliding-field {
  padding: 0;
  list-style: none;
}

.reviews__sliding-field-text {
  font-family: @open-sans-font;
  font-size: 15px;
  line-height: 24px;
  color: @color-grey;
}

.reviews__sliding-field-review {
  margin-bottom: 26px;
  line-height: 30px;
}

.reviews__sliding-field-br {
  display: none;
}

.reviews__sliding-field-author {
  font-style: normal;
  margin-bottom: 32px;
}

.reviews__sliding-field-name {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-black;
  display: block;
  font-style: normal;
  letter-spacing: 0.1px;
  margin-bottom: 4px;
}

.reviews__sliding-field-nickname {
  font-size: 17px;
  line-height: 30px;
  display: block;
  font-style: normal;
}

.reviews__switch-arrows {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto 37px auto;
  width: 260px;
}

.reviews__switch-arrows button {
  background-color: @color-white;
  border: 1px solid #ececec;
  width: 130px;
  height: 51px;
  padding: 0;
  cursor: pointer;
}

.reviews__switch-arrows button:hover {
  opacity: 0.6;
}

.reviews__switch-arrows button:focus {
  opacity: 0.3;
}

.reviews__btn {
  font-size: 18px;
  min-height: 50px;
  padding: 13px 0 15px 0;

  &:hover {
    padding: 13px 0 15px 0;
    min-height: 50px;
  }

  &:focus {
    padding: 13px 0 15px 0;
    min-height: 50px;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    margin-bottom: 50px;
    min-height: 457px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: contain;
    }
  }

  .reviews__title {
    padding-left: 0;
    font-size: 43px;
    line-height: 50px;
    order: 1;
    margin-top: 77px;
    margin-left: -4px;
    margin-bottom: 31px;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__sliding {
    width: 642px;
    height: 284.6px;
    order: 3;
    margin: 0;
    position: relative;
  }

  .reviews__sliding-field {
    width: 642px;
    height: 235.6px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
  }

  .reviews__sliding-field--current {
    width: 642px;
    height: 235.6px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
  }

  .reviews__sliding-field-text {
    font-size: 17px;
    line-height: 30px;
    width: 670px;
  }

  .reviews__sliding-field-review {
    margin-bottom: 58px;
    line-height: 30px;
  }

  .reviews__sliding-field-name {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .reviews__sliding-field-nickname {
    font-size: 17px;
    line-height: 30.6px;
    margin-top: 3px;
  }

  .reviews__switch-arrows {
    order: 3;
    margin: -85px 19px 38px auto;
    width: 140px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .reviews__switch-arrows button {
    border: none;
    width: 50px;
  }

  .reviews__btn {
    order: 2;
    width: 175px;
    min-height: 50px;
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 25px;
    letter-spacing: -0.4px;

    &:hover {
      width: 175px;
      min-height: 50px;
    }

    &:focus {
      width: 175px;
      min-height: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50px center;
    padding: 0;
    min-height: 457px;
    width: 1150px;
    margin: auto;
    margin-bottom: 55px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: contain;
    }
  }

  .reviews__wrapper {
    justify-content: space-between;
  }

  .reviews__title {
    padding-left: 0;
    font-size: 53px;
    line-height: 57px;
    order: 1;
    margin-top: 70px;
    margin-left: 170px;
  }

  .reviews__sliding {
    width: 642px;
    order: 3;
    margin: 0;
    margin-left: 175px;
    position: relative;
  }

  .reviews__sliding-field-text {
    font-size: 17px;
    line-height: 30px;
    width: 768px;
  }

  .reviews__sliding-field-review {
    margin-bottom: 39px;
    width: 780px;
    margin-top: 14px;
    line-height: 30px;
  }

  .reviews__sliding-field-br {
    display: inline;
  }

  .reviews__sliding-field-name {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .reviews__sliding-field-nickname {
    font-size: 17px;
    line-height: 24px;
    margin-top: 5px;
  }

  .reviews__sliding-field-author {
    font-style: normal;
    margin-bottom: 0;
  }

  .reviews__switch-arrows {
    order: 3;
    margin: 0;
    align-self: flex-end;
    width: 140px;
    margin-right: 18px;
    margin-bottom: -2px;
  }

  .reviews__switch-arrows button {
    width: 50px;
  }

  .reviews__switch-arrows-left {
    margin-right: 25px;
  }

  .reviews__btn {
    order: 2;
    width: 175px;
    text-transform: uppercase;
    margin: 80px 0 30px auto;
    min-height: 50px;

    &:hover {
      width: 175px;
      min-height: 50px;
    }

    &:focus {
      width: 175px;
      min-height: 50px;
    }
  }
}
