.reviews {
  font-family: @opensans;
  position: relative;
  margin-top: 61px;
}


.reviews__title {
  font-family: @opensans;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  padding-left: 30px;
}

.container {
  margin: auto;
  padding: 0;
  width: 320px;
}

.reviews__sliding {
  padding: 0;
  list-style: none;
  margin: auto;
  width: 260px;
}

.reviews__sliding-field {
  padding: 0;
  list-style: none;

}

.reviews__sliding-field-text {
  font-family: @opensans;
  font-size: 15px;
  line-height: 1.6;
  color: @color-grey;
}

.reviews__sliding-field-name {
  font-family: @opensans;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-black;
}

.reviews__sliding-field-nickname {
  font-size: 17px;
  line-height: 1.76;
}

.reviews__switch-arrows {
  padding: 0;
  list-style: none;
  display: flex;
  margin: auto;
  width: 260px;
  padding-bottom: 38px;
}

.reviews__switch-arrows button {
  background-color: #fff;
  border: 1px solid #ececec;
  width: 130px;
  height: 52px;
}

.reviews__switch-arrows button:hover {
  opacity: 0.6;
}

.reviews__switch-arrows button:focus {
  opacity: 0.3;
}

.btn{
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  width: 260px;
  min-height: 52px;
  border: solid 2px @color-grey;
  font-family: @opensans;
}

.btn:hover {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  width: 260px;
  min-height: 52px;
  border: solid 2px @color-grey;
  font-family: @opensans;
  color: @color-white;
  background-color: @color-grey;
}

.btn:focus {
  width: 260px;
  min-height: 52px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  background-color: @color-grey;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  border: solid 2px @color-grey;
  font-family: @opensans;
  color: lighten(@color-grey; 30%);
}

.reviews__btn {
  margin: auto;
}



