.top-banner {
  background-color: @color-light-grey;
  min-height: 177px;
  min-width: 320px;
  margin: auto;
  position: relative;
}

@media (min-width: @tablet-width) {
  .top-banner {
    min-height: 226px;
    min-width: 768px;

    &::after {
    content: url("../../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: -5px;
    left: -20px;
    }
  }
}

.top-banner--index-img {
  min-height: 285px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% 20%;
}

@media (min-width: @tablet-width) {
  .top-banner--index-img {
  background-image: url(../../img/hero-tablet@1x.jpg);
  background-position: 50% 20%;
  min-height: 626px;
  &::after {
    content: "";
    position: absolute;
    }
  }
}

.top-banner__title {
  font-family: @open-sans-font;
  font-size: 27px;
  line-height: 1.2;
  font-weight: bold;
  color: @color-black;
  text-align: center;
  padding-top: 76px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .top-banner__title {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 106px;
    margin: 0;
  }
}

.top-banner__title--index-img {
  width: 260px;
  margin: auto;
  font-family: @open-sans-font;
  padding-top: 76px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .top-banner__title--index-img {
    width: 497px;
    padding-top: 161px;
    font-size: 43px;
    line-height: 1.16;
  }
}
