.video-block {
  padding: 0;
  border: 1px solid @color-light-grey;
  width: 260px;
  margin: 30px auto 0;
  font-family: @open-sans-font;
}

.video-block__title {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-black;
  padding-left: 91px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 34px 5px;
}

.video-block__info {
  font-family: @open-sans-font;
  font-size: 13px;
  line-height: 1.85;
  color: @color-grey;
  width: 183px;
  padding: 34px 34px 29px 34px;
  margin: 0;
}

.video-block__btn {
  width: 192px;

  &:hover {
    width: 192px;
  }

  &:focus {
    width: 192px;
  }
}
