.video-block {
  margin: 0;
  padding: 0;
  border: 1px solid @color-light-grey;
  width: 260px;
  margin: 30px auto;
  font-family: @open-sans-font;
}

.video-block__title {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-black;
  padding-left: 91px;
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 34px 5px;

}

.video-block__video {

}

.video-block__video:hover:before {

}

.video-block__video:focus:before {

}


.video-block__info {
  font-family: @open-sans-font;
  font-size: 13px;
  line-height: 1.85;
  color: @color-grey;
  width: 183px;
  margin: 34px auto 29px auto;
}


.video-block__btn {
  width: 192px;


  &:hover {
    width: 192px;

  }

  &:focus {
    width: 192px;

  }
}
