.video-block {
  width: 260px;
  padding: 0;
  border: 1px solid @color-light-grey;
  margin: 0 auto 58px;
  font-family: @open-sans-font;
  position: relative;
}

.video-block__title {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  color: @color-black;
  padding-left: 91px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 34px 5px;
  margin-top: 23px;
  margin-bottom: 25px;
}

.video-block__info {
  font-family: @open-sans-font;
  font-size: 13px;
  line-height: 1.85;
  color: @color-grey;
  width: 183px;
  padding: 25px 30px 23px 33px;
  margin: 0;
}

.video-block__btn {
  width: 192px;
  letter-spacing: 0.6px;

  &:hover {
    width: 192px;
  }

  &:focus {
    width: 192px;
  }
}

@media (min-width: @tablet-width) {
  .video-block {
    width: 670px;
    margin: 0 auto 63px;
    display: flex;
    flex-direction: column;
  }

  .video-block__title {
    order: 2;
    min-height: 40px;
    background-position: 43px 2px;
    margin: 30px 0 0;
    padding-left: 107px;
    display: flex;
    align-items: center;
    font-size: 19px;
    letter-spacing: 0.8px;
  }

  .video-block__video {
    order: 1;
  }

  .video-block__info {
    order: 3;
    width: 580px;
    margin: 24px auto 34px 40px;
    font-size: 15px;
    line-height: 2;
    padding: 0;
  }

  .video-block__btn {
    order: 4;
    width: 584px;

    &:hover {
      width: 584px;
    }

    &:focus {
      width: 584px;
      margin-bottom: 45px;
    }
  }
}

@media (min-width: @desktop-width) {
  .video-block {
    width: 1050px;
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    margin-bottom: 104px;
    min-height: 455px;
  }

  .video-block__title {
    order: 1;
    min-height: 40px;
    background-position: 3px 7px;
    display: flex;
    align-items: unset;
    margin: 35px 140.5px 33px auto;
    padding-top: 60px;
    padding-left: 0;
    width: 150px;
    line-height: 1.3;
  }

  .video-block__video {
    order: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-block__info {
    order: 2;
    width: 242px;
    margin: 0 48px 46px auto;
  }

  .video-block__btn {
    order: 3;
    width: 230px;
    margin: 0 58px 0 auto;

    &:hover {
      width: 230px;
    }

    &:focus {
      width: 230px;
    }
  }
}
