.about-us {
  font-family: @basicfont;
  .relative();
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 0 36px;
  background-size: 110%;
  padding-top: 76px;
}


.container {
  .container();
}

.about-us__title {
  .h2-title();
  padding-left: 30px;
}

.about-us__list {
  .list-wipe();
  margin: auto;
  width: 260px;
}

.about-us__list-item {
  background-position: 5% 30%;
  background-repeat: no-repeat;
}

.about-us__list-item--materials {
  background-image: url(../img/icon-feature-flower.svg);

}

.about-us__list-item--price {
  background-image: url(../img/icon-feature-money.svg);

}

.about-us__list-item--likes {
  background-image: url(../img/icon-feature-heart.svg);

}

.about-us__list-item--handmade {
  background-image: url(../img/icon-feature-ball.svg);

}

.about-us__list-item--producers {
  background-image: url(../img/icon-feature-ball.svg);

}

.about-us__list-item--gift {
  background-image: url(../img/icon-feature-gift.svg);

}

.about-us__list-item {
  .bold();
  padding-top: 85px;
  font-family: @basicfont;
  line-height: 1.18;
}




