.top-banner {
  background-color: @color-light-grey;
  min-height: 177px;
  min-width: 320px;
  max-width: 770px;
  margin: auto;
}


.container {
  .container();
}

.top-banner__title {
  .h1-title();
  .text-center();
  padding-top: 76px;
}
