.catalog-list {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.catalog-list__wrapper {
  margin: auto;
  padding: 0 30px;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    width: 670px;
  }

  .catalog-list__wrapper {
  padding: 0 50px;
}
}

@media (min-width: @desktop-width) {
  .catalog-list {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 128px auto 58px auto;
  }

  .catalog-list__wrapper {
  padding: 0 50px;
}
}
