.catalog-item {
  padding: 0;
  list-style: none;
  border: 1px solid @color-light-grey;
  width: 260px;
  margin: 0 auto 30px auto;
  font-family: @open-sans-font;
  box-sizing: border-box;
}

.catalog-item-bigger-card {
  min-height: 400px;
}

.catalog-item:hover {
  box-shadow: 0 6px 10px 0 #ececec;
}

.catalog-item:focus {
  box-shadow: 0 3px 5px 0 #ececec;
}

.catalog-item__order-cart:hover path {
  fill: @color-turquoise;
}

.catalog-item__order-cart:focus path {
  fill: @color-turquoise;
  opacity: 0.6;
}

.catalog-item__info {
  padding: 23px 29px 25px 28px;
}

.catalog-item__info-bigger-block {
  padding: 23px 30px 24px 26px;
}

.catalog-item__title {
  font-family: @open-sans-font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @color-black;
  padding: 0;
  margin: 0 0 5px 0;
}

.catalog-item__feature {
  font-family: @open-sans-font;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: @color-grey;
  margin: 0;
  margin-bottom: 19px;
}

.catalog-item__line {
  width: 200px;
  color: #ececec;
  margin: auto 0 0 0;
}

.catalog-item__order {
  position: relative;
  padding: 0;
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
}

.catalog-item__order-price {
  letter-spacing: -0.5px;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    width: 670px;
    display: flex;
    margin-bottom: 55px;
    min-height: 333px;
  }

  .catalog-item__info {
    min-width: 275px;
    margin-left: auto;
    padding: 23px 30px 28px 13px;
    display: flex;
    flex-direction: column;
  }

  .catalog-item__info-bigger-block {
    padding: 23px 30px 24px 26px;
  }

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 7px;
  }

  .catalog-item__shorter-title {
    width: 220px;
  }

  .catalog-item__title-bowl {
    margin: 0 0 7px 0;
  }

  .catalog-item__title-shorter-card {
    padding-right: 30px;
  }

  .catalog-item__feature {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__line {
    width: 268px;
  }

  .catalog-item__order {
    margin: 21px 0 0;
  }

  .catalog-item__order-price {
    font-size: 17px;
    line-height: 24px;
    margin-left: 5px;
    letter-spacing: 0.3px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    width: 316px;
    min-height: 660px;
    display: flex;
    margin: 0;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .catalog-item__info {
    padding: 23px 32px 21px 26px;
    margin-top: 0;
    display: block;
    margin-left: 0;
    box-sizing: border-box;
  }

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .catalog-item__feature {
    margin-top: 0;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .catalog-item__feature-bigger-block {
    margin-bottom: 15px;
  }

  .catalog-item__line {
    width: 260px;
  }

  .catalog-item__order-price {
    font-size: 17px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 2px;
  }
}
