.catalog-list {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    min-width: 670px;
    margin-top: 68px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 125px auto 5px auto;
    flex-wrap: wrap;
  }

  .catalog-list__wrapper {
    padding: 0 50px;
  }
}
